<div [ngBusy]="busy">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>
          <button type="button" class="btn btn-success" (click)="create()">
            <i class="fa fa-plus"></i>&nbsp; Create</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.email}}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="edit(user.id)" title="Details">
            <i class="fa fa-bars"></i>
          </button>
          <button type="button" class="btn btn-danger" (click)="delete(user.id)" title="Delete">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>