<div [ngBusy]="busy">
  <button type="button" class="btn btn-success" (click)="create()">
    <i class="fa fa-plus"></i>&nbsp; Create</button>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username}}</td>
        <td>{{ user.name}}</td>
        <td>
            <button type="button" class="btn btn-warning" (click)="edit(user.id)">
              <i class="fa fa-bars"></i>&nbsp; Details</button>
          <button type="button" class="btn btn-danger" (click)="delete(user.id)">
            <i class="fa fa-times"></i>&nbsp; Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>